body{
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.a1{
    background-color: rgb(219, 219, 219);
    margin-bottom: 4px;
    line-height: inherit;
}

.a1 input{
    width: 350px;
}

.a2{
    background-color:#7ee5da ;
    height: 70px;
    width: 500px;
    padding: 10px;
    float: left;
    margin-right: 4px;
    font-size: 18px;
}

.a3{
    background-color: #5ddacd;
    height: 70px;
    width: 250px;
    padding: 10px;
    float: left;
    margin-right: 4px;
}

.a4{
    background-color: #4dc9bc;
    height: 70px;
    width: 546px;
    padding: 10px;
    float: left;
}


.footer{
    margin-top: 120px;
}